<html>
    <head>
        <body>
            <h1>This is the page which displays medicine list</h1>
            <table>
                {{#rows}}
                    <tr>
                    <td>{{mid}}</td>
                    <td>{{name}}</td>
                    <td>{{count}}</td>
                    <td>{{brand}}</td> 
                    <td>
                        <form action = "/meds/delete/{{mid}}" method = "post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action = "/meds/edit/{{mid}}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    </tr>
                {{/rows}}
            </table>
        </body>
    </head>
</html>